body {
    background-color: rgb(255, 255, 255);

}

main {
    padding: 5% 5%;
    font-size: 18px;
}

.Topico img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;



}

.Topico span {

    margin-left: 10%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

header {
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 20px solid rgb(96, 227, 206);
    box-shadow: 13px 13px 20px black;
    margin-bottom: 10vh;


}

.Topico {
    width: 60vw;
    display: flex;
    align-items: center;
}

section {
    padding: 5%;
    border: 2px solid black;
    margin-bottom: 5vh;
    position: relative;
    width: 90%;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97%;
    margin: auto;
}

.imagenes img {

    width: 100vw;
    height: 40vw;
    border-radius: 10%;
}

.imagenes {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;

}

.marcador {
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


nav li {
<<<<<<< HEAD
    display:inline-block;

=======
    display: inline-block
>>>>>>> main
}

nav a {
    display: block;
    float: left;
    margin-right: 0.12em;
    padding: 0.5em 1em;
    background: #ffffff;
<<<<<<< HEAD
    box-shadow:  3px 3px 5px 1px rgba(0,0,0,0.25);
    text-decoration: none;
    text-shadow: 1px 1px 0px #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.up {

    display:flex;
    justify-content: end;
    
    
}

.up img {
    width: 50px;
  


}

=======
    box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    text-shadow: 1px 1px 0px #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
>>>>>>> main
